<div class="jumbotron text-center">
	<h1 class="display-5">
		Computers
	</h1>
</div>

<div class="container">
	<div class="row custom-wrapper">
		<div class="col-md-12">

			<!-- Form starts -->
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
				<div class="group-gap">
					<div class="d-block my-3">

          <div class="mb-3">
            <select class="custom-select" (change)="changeComputer($event)" formControlName="computer">
              <option [class.selected]="computer===registrationForm.value" *ngFor="let computer of computers" [ngValue]="computer">{{ computer.hostname }}</option>                                       
            </select>
            

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && computer.errors?.required">
              <sup>*</sup>Please enter your computer hostname
            </div>
          </div>            

          </div>
        </div>

          <!-- Submit Button -->
          <button type='submit'>Submit</button>
          <button (click)="getcomputerdata()" >GetData</button>
          <p>{{ selectedcomputer }}</p>
      </form><!-- Form ends -->

    </div>
  </div>
</div>