<nb-card>
    <nb-card-header>{{ template.name }}</nb-card-header>
    <nb-card-body>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Name</label>
            <div id="name" class="col-sm-10">
                <input type="text" [(ngModel)]="template.name" nbInput />
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Type</label>
            <div id="type" class="col-sm-10">
                <nb-select required [(selected)]="template.type">
                    <nb-option *ngFor="let type of backupTypes" [value]="type"
                        >{{ typeToString(type) }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Retence</label>
            <div id="retention" class="col-sm-10">
                <input
                    type="number"
                    [(ngModel)]="template.retention"
                    nbInput
                    min="0"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Start</label>
            <div id="start" class="col-sm-10">
                <datetime-picker [(datetime)]="startDate"></datetime-picker>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">End</label>
            <div id="end" class="col-sm-10">
                <datetime-picker [(datetime)]="endDate"></datetime-picker>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Period</label>
            <div id="period" class="col-sm-10">
                <period-picker [(period)]="template.period"></period-picker>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Format</label>
            <div id="format" class="col-sm-10">
                <nb-select required [(selected)]="template.targetFileType">
                    <nb-option
                        *ngFor="let fileType of backupFileTypes"
                        [value]="fileType"
                        >{{ fileTypeToString(fileType) }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Sources</label>
            <div id="sources" class="col-sm-1">
                <button id="addRow" nbButton outline (click)="addSource()">
                    +
                </button>
            </div>
            <div id="sources" class="col-sm-9">
                <div *ngFor="let source of template.sources; let i = index">
                    <input [(ngModel)]="source.directory" nbInput fullWidth />
                    <button
                        nbButton
                        outline
                        status="warning"
                        (click)="removeSource(i)"
                    >
                        <nb-icon [icon]="'trash-outline'" pack="eva"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Targets</label>
            <div id="sources" class="col-sm-1">
                <button id="addRow" nbButton outline (click)="addTarget()">
                    +
                </button>
            </div>
            <div id="targets" class="col-sm-9">
                <div *ngFor="let target of template.targets; let i = index">
                    <input [(ngModel)]="target.directory" nbInput fullWidth />
                    <button
                        nbButton
                        outline
                        [status]="target.network != null ? 'info' : 'basic'"
                        (click)="targetNework(i)"
                    >
                        <nb-icon [icon]="'wifi-outline'" pack="eva"></nb-icon>
                    </button>
                    <button
                        nbButton
                        outline
                        status="warning"
                        (click)="removeTarget(i)"
                    >
                        <nb-icon [icon]="'trash-outline'" pack="eva"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Paused</label>
            <div id="paused" class="col-sm-10">
                <nb-radio-group required [(value)]="template.paused">
                    <nb-radio [value]="false">Active</nb-radio>
                    <nb-radio [value]="true">Paused</nb-radio>
                </nb-radio-group>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button
            [hidden]="template.id == null"
            nbButton
            outline
            status="danger"
            (click)="delete()"
        >
            Delete
        </button>

        <button
            id="submit"
            nbButton
            outline
            status="success"
            (click)="submit()"
        >
            Submit
        </button>
    </nb-card-footer>
</nb-card>
