@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
    input {
        width: 100%;
    }

    .cancel {
        margin-right: 1rem;
    }

    .row {
        width: 100%;
    }

    nb-card-body {
        margin: auto;
        width: 50rem;
    }

    #submit {
        float: right;
    }

    #name input {
        width: 20rem;
    }

    #type nb-select {
        width: 10rem;
    }

    #retention {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            -moz-appearance: textfield;
            width: 6rem;
        }
    }

    #paused nb-radio-group {
        display: flex;
    }

    #sources div,
    #targets div {
        margin-bottom: 0.5rem;
        display: flex;
        * {
            margin-right: 0.5rem;
        }
    }

    #addRow {
        margin-bottom: 0.5rem;
    }

    nb-icon {
        margin-left: 0.5rem;
    }
}
