@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
    input {
        width: 100%;
    }

    .cancel {
        margin-right: 1rem;
    }

    nb-select {
        width: 20rem;
    }

    .row {
        width: 100%;
    }

    nb-card-body {
        margin: auto;
        width: 35rem;
    }

    #submit {
        float: right;
    }

    #admin nb-radio-group {
        display: flex;
    }

    #sendreports nb-radio-group {
        display: flex;
    }
}
