<nb-card>
    <nb-card-body>
        <label class="search-label" for="search">Search:</label>
        <input
            nbInput
            [nbFilterInput]="dataSource"
            id="search"
            class="search-input"
        />

        <button id="add" nbButton outline status="primary" (click)="addClick()">
            Add
        </button>

        <table
            [nbTreeGrid]="dataSource"
            [nbSort]="dataSource"
            (sort)="updateSort($event)"
        >
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr
                nbTreeGridRow
                *nbTreeGridRowDef="let row; columns: allColumns"
                (click)="editClick(row)"
            ></tr>

            <ng-container
                *ngFor="let column of allColumns; let index = index"
                [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)"
            >
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection(column)"
                    *nbTreeGridHeaderCellDef
                >
                    {{ column }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data[column] == null ? "-" : row.data[column] }}
                </td>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>
