<h1 mat-dialog-title><strong>Network</strong></h1>
<div mat-dialog-content>      

  <mat-form-field *ngIf="action != 'Delete'">    
    Server:
    <input matInput="local_data.server" [(ngModel)]="local_data.server">      
  </mat-form-field>  

  <mat-form-field *ngIf="action != 'Delete'">
      Name:
      <input  matInput="local_data.name"  [(ngModel)]="local_data.name">     
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete'">
    Password:
    <input  matInput="local_data.password"  [(ngModel)]="local_data.password">     
  </mat-form-field>
<!--
  <mat-select [(ngModel)]="local_data.mode" (selectionChange)="SetMode($event.value)" >
    <mat-option *ngFor="let Mode of Modes" [value]="Mode">    
      {{Mode}}  
    </mat-option>
  </mat-select>
-->
 <mat-form-field>
   Mode:
  <mat-select [(ngModel)]="selectedmode" name="moode" (selectionChange)="SetMode()">
    <mat-option *ngFor="let moode of moodes" [value]="moode.value">    
      {{moode.viewtext}}  
    </mat-option>
  </mat-select> 
  </mat-form-field>

  <mat-form-field>
    Encryption:
  <mat-select [(ngModel)]="selectedencryption" name="encryption" (selectionChange)="SetEncryption()">
    <mat-option *ngFor="let encryption of encryptions" [value]="encryption.value">    
      {{encryption.viewtext}}  
    </mat-option>
  </mat-select>   
  </mat-form-field>
  

  <label *ngIf="action == 'Delete'">Sure to delete this job {{local_data.template}}? </label>         
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>