<nb-card>
    <nb-card-header>{{ computer.hostname }}</nb-card-header>
    <nb-card-body>
        <form>
            <div class="form-group row">
                <label class="col-sm-5 label">Status</label>
                <div class="col-sm-7">
                    <nb-radio-group required [(value)]="computer.status">
                        <nb-radio *ngFor="let i of computerStatuses" [value]="i">{{ statusToString(i) }}</nb-radio>
                    </nb-radio-group>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button
            id="submit"
            nbButton
            outline
            status="success"
            (click)="submit()"
        >
            Submit
        </button>
    </nb-card-footer>
</nb-card>
