<div class="jumbotron text-center">
	<h1 class="display-5">
		Computers
	</h1>
</div>

<div class="container">
	<div class="row custom-wrapper">
		<div class="col-md-12">
            <form [formGroup]="computersForm" (ngSubmit)="onSubmit()">
                <div class="group-gap">
                    <div class="d-block my-3">
                        <div class="mb-3">
                            <div class="mb-3">
                                <select class="custom-select" (change)="changeComputer($event)" formControlName="computers">
                                    <option *ngFor="let computer of computersArray" [ngValue]="computer">{{ computer.hostname }}</option>
                                </select>    
                            </div>
                        </div>
                    </div>
                </div>
            </form>
		</div>
    </div>
</div>


<app-computer-form [computer]="computersForm.value.computers"></app-computer-form>