div {
    text-align: center;
    width: 20em;
    margin: 30vh auto;
}

div * {
    margin: 0.3em auto;
}

p {
    width: 100%;
    color: red;
    font-weight: bold;
}

.credentialsInput {
    width: 100%;
}