<h1 mat-dialog-title><strong>{{action}} Job</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'">    
    <input (change)="onclick()" type="checkbox" checked>     
  <div>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Template" matInput [(ngModel)]="local_data.template">       
  </mat-form-field>  
  <mat-form-field *ngIf="action != 'Delete'">
      <input placeholder="{{action}} Client" matInput [(ngModel)]="local_data.name">     
  </mat-form-field>  
  
    

  <ng-template #elseTemplate>
    Sure to delete this job with {{local_data.template}}?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>