<form [formGroup]="TemplateForm" >
    <h1>Template</h1>     
    <!--
    <br><br>
    <div id="container">
    <button type="button home-button" id="button1" >Home</button>
    <button type="button contact-button" id="button2">Contact Us</button>
    </div>
  -->

    <label>
      Name:
     <input type="text" formControlName="Name" required>
   </label>    
    

    <div class="">
      <label for="type">type</label>
      <select  (change)="SetType($event.target.value)" >          
        <option *ngFor="let t of types" >{{t}}</option>
        
      </select>  
    </div>

    <div class="">
      <label for="format">Format</label>
      <select  (change)="SetFormat($event.target.value)" >          
        <option *ngFor="let t of Formats" >{{t}}</option>
        
      </select>  
    </div>



    <!-- vybrat z selectu
      <div class="">
      <label for="Format">Format</label>
      <select id="Formats" class="form-control"
          formControlName="Format" required >
        <option *ngFor="let t of Formats" [value]="t">{{t}}</option>
        
      </select>  
    </div>  
    -->

    

    <!--<button  [disabled]="switched == 0" (click)="most()">ChangeName</button>
    
    <label>
      Amount
     <input (change)="SetHours($event.target.value)" type="text" formControlName="Amount">
    </label>
    <button   (click)="changename()">změnit jmeno</button>
  -->
    

    <div formGroupName="Repeat">      
      <h3>Repeat</h3>
      <label>
         Retence:
        <input  type="number" formControlName="Retence">
      </label>
  
      <label>
        Start: 
        <input type="date" formControlName="Start">
      </label>
      
      <label>
         End:
        <input type="date" formControlName="End">
      </label>          
  
      <label>
        Period        
      </label>
    </div>
    
    
    <label>
    <button (click)="SwitchCron(0)">Hours</button>
      Amount
      <input [attr.disabled]="switched == 1 || null" (change)="setDecider($event.target.value)" type="text" formControlName="Amount">
      <select [disabled]="switched == 1" (change)="changeTimetype($event.target.value)" >            
        <option *ngFor="let i of Timetypes">{{i}}</option>
      </select>
    </label>
    <div></div>   

    <button  (click)="SwitchCron(1)">Days</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(0)">0</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(1)">1</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(2)">2</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(3)">3</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(4)">4</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(5)">5</button>
    <button  [disabled]="switched == 0" (click)="AddDayoftheweek(6)">6</button>
    <div>Time   
    
      <select [disabled]="switched == 0"(change)="Sethours1($event.target.value)" >            
        <option *ngFor="let i of hours">{{i}}</option>
      </select>  :
      <select [disabled]="switched == 0"(change)="Setminutes1($event.target.value)" >            
        <option *ngFor="let i of minutes">{{i}}</option>
      </select>
    </div>    

    <label>
      At {{minute}} minutes at {{hour}} hour of a day:<input readonly type="text" formControlName="Cron" required>
    </label>

    <button   (click)="reset()">Reset</button>


    <div formArrayName="Pathsfrom">
      <h3>What To Backup</h3> <button (click)="addPathfrom()">Add Path</button>
  
      <div *ngFor="let Path of Pathsfrom.controls; let x=index">
        <!-- The repeated alias template -->
        <label>
           Path:
          <input type="text" [formControlName]="x">
        </label>
      </div>
    </div>    
  
    <div formArrayName="Paths">
      <h3>Target Path</h3>

      <button (click)="addPath()">Add Path</button>
  
      <div *ngFor="let Path of Paths.controls; let i=index">
        <!-- The repeated alias template -->
        <label>
           Path:
          <input type="text" [formControlName]="i">
          <button mat-button (click)="openDialog('Apply',{})" mat-flat-button color="blue" >Network</button>
          
        </label>
        
      </div>
    </div>
  
    <button (click)="onSubmit()" >Submit Template</button>       
    
    <p>
      Form Value: {{ TemplateForm.value | json }}
    </p>
    
    
    <p>
      Form Status: {{ TemplateForm.status }}
    </p>
    
    <p>
      <button type="reset">Reset Template</button>
    </p>
  </form>
  
  <hr>
  
  
  
  
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->